@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0099FF;
}

html, body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* hide scrollbars like Stitch */
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Stitch-like dotted background */
.bg-pattern {
  background-image: radial-gradient(#2b6cee15 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Material Symbols font helper */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
